<link rel="stylesheet" href="/css/styles.css">
<script src="/js/scripts.js"></script>
<header>
    <div class="logo">Allotment App</div>
    <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    <nav>
        <ul id="nav-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/subjects">Subjects</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
